.title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
}

.title:hover {
  transform: scale(1.1);
  border-bottom: 1px solid black;
}
