.container {
  width: 100%;
  padding: 30px;
  background-color: rgba(150, 150, 150, 0.151);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  border: 1px solid #a1a1a1;
  color: #fff;
  transition: transform 0.2s ease-out;
}

.imgProduct {
  width: 100%;
  max-height: 300px;
  margin-bottom: 5px;
}

.title {
  width: 100%;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 20px;
}

.price {
  font-size: 18px;
  color: rgb(101, 130, 194);
  margin-bottom: 13px;
  margin-left: 5px;
  font-weight: 900;
}
.priceDiscount {
  font-size: 18px;
  color: rgb(192, 0, 0);
  margin-bottom: 13px;
  margin-left: 5px;
  font-weight: 900;
}

.priseDiscountContainer {
  display: flex;
  width: 100%;
  justify-content: right;
}

.button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #000;
  color: #fff;
  background-image: linear-gradient(to right, rgb(0, 18, 117), rgb(1, 66, 119));
  transition: all 0.5s;
  background-size: 200% 100%;
  animation: gradientShimmer 5s infinite alternate;
}
@keyframes gradientShimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.button:hover {
  background-color: rgba(229, 255, 0, 0.774);
  transform: scale(1.05);
  cursor: pointer;
}

.container:hover {
  background-color: rgba(255, 153, 0, 0.438);
  cursor: pointer;
}
