.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 20px;
  padding: 30px;
}
.cartContainer {
}

@media screen and (max-width: 1400px) {
  .container {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 860px) {
  .container {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 530px) {
  .container {
    grid-template-columns: auto;
  }
}
