.navigate {
  display: flex;
  background: #002438;
  border-radius: 40px;
  height: 70px;
  padding: 15px;
  margin: 20px 30% 0 30%;
  border: 1px solid #000000;
  box-shadow: 0px 5px 20px 2px #005485;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.navigate > a {
  color: #fff;
}

.nactive {
  position: sticky;
  top: 20px;
  height: 70px;
  opacity: 0.75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 20px 5% 0 5%;
  z-index: 5;
}
.nactive:hover {
  opacity: 1;
  background: #002438;
  box-shadow: 0px 5px 20px 2px #005485;
}

.nactive > .search > .searchInput {
  width: 20%;
}

.nactive > .search > .searchInput:focus {
  width: 30%;
}

.search {
  width: 100%;
  display: flex;
  justify-content: right;
}

.searchInput {
  width: 16%;
  padding: 10px;
  border: 1px solid #005485;
  border-radius: 15px;
  font-size: 18px;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
}

.searchInput:hover {
  box-shadow: 0px 2px 15px 2px #005485;
}
.searchInput:focus {
  width: 50%;
  cursor: text;
  box-shadow: 0px 2px 15px 2px #005485;
}

@media screen and (max-width: 1500) {
  .navigate {
    margin: 20px 25% 0 25%;
  }
}

@media screen and (max-width: 1340) {
  .navigate {
    margin: 20px 15% 0 15%;
  }
}

@media screen and (max-width: 930) {
  .navigate {
    margin: 20px 6% 0 6%;
  }
  .searchInput {
    width: 50%;
  }
  .searchInput:focus {
    width: 90%;
  }
}

@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
